body{
    background-color: black;
}
#mainimg {
    padding-left: 20%;
}
#maindiv{
    align-self: center;
    margin-left: 20% ;
    width: 60%;
}
#mainspan{
    display: inline;
}
header{
    color: white;
    border-color: yellow;
    background-color: green;
    size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.bikelinks{
    width: 20%;
}

.eachbikelink{
    padding: 10px;
    display: inline-block;
    background-color: red;
    color: white;
    text-decoration: none;
    text-size-adjust: 0.9em;
}
#Textbox{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}